/*
    Title: Module04 Intro to Web Languages Exercise #6
    Author: Wendy Dushanin
    UNCC Student ID: 800727084
    Date: February 25, 2022
    Class: ITSC 3155 Software Engineering
    Semester: Spring 2022
    */

/*Assignment Description: 
    Create an HTML page called "index.html" and an external CSS stylesheet called "styles.css". Set the body 
    to use a different font than the default and a different background color than the default. Create a header, 
    "Hello World" with an ID of "main-title" and style that ID to be centered. Create two paragraphs, each with 
    a class of "content" and apply a bottom margin of 12px to that class. 
    */

/*References:
    https://www.w3schools.com/css/css_howto.asp
    https://www.w3schools.com/css/css_font.asp
    https://www.w3schools.com/cssref/pr_text_text-align.ASP
    https://www.w3schools.com/cssref/pr_margin.asp
    */


/* Tag Selector */
body {
    background-color: coral;
    font-family:fantasy;
}

/* ID Selector */
#main-title{
    text-align: center;
}

/* Class Selector */
.content{
    margin-bottom: 12px;
}